.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;

  @media screen and (max-width: 1000px){
      width: 90%;
  }

  .logo-container {
    height: 5rem;
    width: 9rem;
    background-image: url('../../assets/zidane-store.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1000px){
        transform: scale(0.7);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-weight: 300;

      @media screen and (max-width: 1000px){
          padding: 10px 10px;
          font-size: 14px;
      }
    }
  }
}
