* {
    box-sizing: border-box;
}
body {
    padding: 20px 60px;
    font-family: "Helvetica Neue";
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0px;
    }
}

a {
    text-decoration: none;
    color: black;
}

